# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

/**/.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/**/target/
/**/.settings/
/**/.classpath
/**/.checkstyle
/**/.idea/
/**/*.iml
# original location
!**/config/lombok.config
/**/*.pyc
/**/*~
/**/gen/
# model
**/.runtime
**/data/localmodel
**/data/.config
**/stamp.dat
**/.index
**/maven-metadata-local.xml
**/format_version.dat
.mvn/timing.properties
/**/*-web/etc
/**/*-web/frontend
/**/*-web/lib
/**/*-web/node
/**/.credentials
/**/.work/
/**/*.versionsBackup
/**/*.json-angular
/**/*$py.class
.output

.wercker
wercker.env
.release
**/.flattened-pom.xml
